.featured {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

.featured-item {
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
}

.featured-img {
    width: 100%;
    object-fit: cover;
}

.featured-title {
    position: absolute;
    top: 20px;
    left: 20px;
}
.featured-title>h1 {
    font-size: 22px;
    font-weight: bold;
}

.featured-title>h2 {
    font-size: 13px;
    font-weight: 500;
}