.header-search {
    height: 30px;
    background: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}

.header-icon {
    color: lightgray;
}

.header-search-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-search-input {
    border: none;
    outline: none;
}

.header-search-text {
    color: lightgray;
    cursor: pointer;
}

.date {
    position: absolute;
    top: 50px;
}

.guest-options {
    position: absolute;
    top: 50px;
    background: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4)
}

.option-item {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.option-counter {
    display: flex;
    align-items: center;
    gap: 10px;
    font: 12px;
    color: black;
}

.option-counter-button {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
}

.option-counter-button:disabled {
    cursor: not-allowed;
}